.jssor_slider {
  width: 1136px;
  height: 512px;
}

.jssor_slides {
  left: 222px;
  width: 914px;
  height: 512px;
}

.jssor_arrow_left {
  left: 252px;
}

.jssor_arrow_right {
  right: 30px;
}

.jssor_thumbnails {
  background-color: #000;
  left: 0;
  width: 222px;
  height: 512px;
}

.jssor_thumbnail {
  width: 190px;
  height: 108px;
}

.jssor_bullets {
  bottom: 8px;
  right: 8px;
}

.jssor_bullet {
  width: 16px;
  height: 16px;
}